@model RiverCruise.Models.ShipManagement.NewShipViewModel

@{
    ViewBag.Title = "New Ship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>New Ship</h2>
    @Model.Comany.Name
</div>