@model RiverCruise.Models.Ship.ShipDetailModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Edit @Model.Name</h2>
</div>