@using RiverCruise.Helpers
@model RiverCruise.Models.Home.AdvalvasModel

<div class="list-group ">
    @foreach (var advalvas in Model.Advalvas)
    {
        <div class="list-group-item bs-callout bs-callout-danger">
            @if (Roles.IsUserInRole(RoleHelper.Edit))
            {
                <div>
                    @using (Html.BeginForm("Delete", "AdvalvasManagement", FormMethod.Post, new { @Class = "triggerModal pull-right", data_rc_ModalAction = "DeleteGet", data_rc_ModalController = "AdvalvasManagement" }))
                    {
                    @Html.AntiForgeryToken();
                    <input type="hidden" value="@advalvas.Id" name="Id" id="Id" />
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    }
                </div>
            }
            <div>
                <div class="advalvas-element">
                    @Html.Raw(advalvas.Title.Replace(Environment.NewLine, "<br/>"))
                </div>
            </div>
        </div>
    }
</div>


@if(Roles.IsUserInRole(RoleHelper.Edit))
{
    <div class="btn-group btn-group-justified">
        <a class="btn btn-success" href="@Url.Action("Add", "AdvalvasManagement")">
            <span class="glyphicon glyphicon-plus"></span>
            New
        </a>
    </div>
}