@using System.Web.UI.WebControls
@model IEnumerable<DataModels.Ship>

@{
    ViewBag.Title = "Edit Ships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schepen bewerken</h2>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ship in Model)
                {
                    <tr>
                        <td>@ship.Name</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

