@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "What's new?";
}

<div class="container-fluid">
    <h2>What's new</h2>
    <hr/>
    <h4>December 29, 2014</h4>
    <ul>
        <li>Added what's new page.</li>
        <li>Users with edit privileges can now edit ship data.</li>
        <li>Users with edit privileges can now remove ships (and their crew)</li>
        <li>Moved add ship menu-item to Manage dropdown in company detail.</li>
    </ul>
</div>