h1 {
    color: #115
}

h2 {
    color: #555;
}

h3 {
    color: #888;
}

h4 {
    color: #aaa;
}

.h4content {
    display: block;
    padding-top: 10px;
}

#loginBox {
    margin-top: 20px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    margin-bottom: 50px;
}

body {
    background-color: #dfdfdf;
}

.wrapper {
    background-color: #FFF;
    
    -webkit-box-shadow: 10px 10px 5px #CCC;
    -ms-box-shadow: 10px 10px 5px #CCC;
    box-shadow: 10px 10px 5px #CCC;
    padding: 22px;
}

.pageBlock a{
    width: 40px;
}

.bs-callout {
    padding: 5px;
    padding-top: 15px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}

.bs-callout-danger {
    border-left-color: #d9534f;
    background-color: lightpink;
}