/***** navbar ****/
.navbar-default {
  background-color: #4373f1;
  border-color: #6f8df7;
    margin-top: 20px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #4373f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #6f8df7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #4373f1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #6f8df7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #6f8df7;
}
.navbar-default .navbar-toggle {
  border-color: #6f8df7;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6f8df7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #6f8df7;
  }
}
/***** end navbar ****/

h1 {
    color: #115
}

h2 {
    color: #555;
}

h3 {
    color: #888;
}

h4 {
    color: #aaa;
}

.h4content {
    display: block;
    padding-top: 10px;
}

#loginBox {
    margin-top: 20px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    margin-bottom: 50px;
}

body {
    background-color: #e2e2e2;
}

footer {
    background-color: white;
}

.wrapper {
    
}

.pageContent > .container-fluid, footer {
    background-color: #FFF;
    
    -webkit-box-shadow: 10px 10px 5px #CCC;
    -ms-box-shadow: 10px 10px 5px #CCC;
    box-shadow: 10px 10px 5px #CCC;
    padding: 40px;
}

#pagerTarget .container-fluid {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: 0 0 0;
    padding: 0;
}

.pageBlock a{
    width: 40px;
}


.bs-callout {
    padding: 5px;
    padding-top: 15px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    padding-right: 15px;
}

.bs-callout-danger {
    border-color: #d9534f;
    background-color: #ffffe5;
}

.bs-callout-warning {
    border-color: #8a6d3b;
    background-color: #ffffe5;
}

.bs-callout-succes {
    border-color: green;
    background-color: #ffffe5;
}

.margin {
    margin: 15px;
    margin-left: 15px;
    margin-top: 0;
}

.marginTop {
    margin-top: 8px;
}

.advalvas-element {
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 17px;
    color: #d9534f;
}