
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Ships schedule rivercruises</h2>
    <h3>Amsterdam</h3>
    <ul>
        <li><a href="http://www.portofamsterdam.com/Eng/Rivercruise/Berth-reservation-overview.html?sort=aankomst" target="_blank">Go to site</a></li>
        <li><a href="http://www.portofamsterdam.com/Eng/Interactive-map-of-rivercruise-berths">Overview of berthing locations river cruise vessels</a></li>
    </ul>
    <h3>Antwerp</h3>
    <ul>
        <li><a href="http://www.visitantwerpen.be/bezoekerssite-en/publicatiekanalen/stad/antwerpenbe/bezoekerssites/bezoekerssite-en/bezoekerssite-en-bezoekerssite-en/bezoekerssite-en-bezoekerssite-en-doelgroepnavigatie/cruises.html" target="_blank">Go to site.</a></li>
        <li><a href="http://www.visitantwerpen.be/docs/stad/bedrijven/actieve_stad/as_tnc/riviercruises.xlsx" target="_blank">Ship schedules excel file for next year.</a></li>
    </ul>
    <h3>Cologne</h3>
    <ul>
        <li><a href="http://www.hgk.de/images/downloads/belegungsplan.pdf" target="_blank">Correct birthing locations.</a></li>
    </ul>
    <h3>Passau</h3>
    <ul>
        <li><a href="http://www.marinetraffic.com/ais/details/ports/1522/Germany_port:PASSAU" target="_blank">Go to site</a> and click on arrivals / departures.</li>
        <li><a href="https://www.stadtwerke-passau.de/hafen/liegeplatzeinteilung.html" target="_blank">Or to site.</a></li>
    </ul>
    <h3>Rotterdam</h3>
    <ul>
        <li><a href="http://www.portofrotterdam.com/en/Shipping/up-to-date/arrival-departure/Pages/vessels-in-port.aspx" target="_blank">Go to site</a> (even if you get a message asking for your password – just double click and you will be redirected to the arrival/departure list).</li>
    </ul>
    <h3>Rudesheim</h3>
    <ul>
        <li><a href="http://www.fleetmon.com/en/ports/Rudesheim_18156" target="_blank">Go to site</a> for all the information on the fleet movements in Rudesheim.</li>
    </ul>
    <h3>Vienna</h3>
    <ul>
        <li><a href="http://hafen-wien.com/en/home/hafen/standorte/DDSG" target="_blank">Go to site</a> for all info on the passenger port.</li>
        <li><a href="http://www.donauraum.at/web/index.php/wo-die-schiffe-liegen/aktueller-schiffsanlegeplan" target="_blank">And to site</a> for the ships arrivals / departures schedule.</li>
    </ul>
</div>