@model RiverCruise.Models.Home.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Home</h2>

    <h3>Ad valvas</h3>

    <div class="container-fluid">
        @Html.Partial("~/Views/Home/_Advalvas.cshtml", Model.Advalvas)
    </div>
        
    <hr/>

    <div class="container-fluid">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary" href="http://www.marinetraffic.com/" target="_blank"><span class="glyphicon glyphicon-link"></span> marine traffic</a>
        </div>
    </div>

    <h3></h3>
</div>