@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "What's new?";
}

<div class="container-fluid">
    <h2>What's new</h2>
    <hr/>
    <h4>March 15, 2015</h4>
    <ul>
        <li>Changed ad valvas styling on homepage.</li>
        <li>Added crewing agent for companies</li>
    </ul>
    <hr/>
    <h4>March 8, 2015</h4>
    <ul>
        <li>Marine traffic link added to home page.</li>
        <li>Ad-valvas is now editable by users with edit privileges.</li>
        <li>Companies now have a website field.</li>
        <li>Added a new tab to the ship's detail page where users with edit privileges can add and remove files (maximum 50mb), and all users can view/download these files.</li>
    </ul>
    <hr/>
    <h4>February 21, 2015</h4>
    <ul>
        <li>Layout has changed.</li>
        <li>Added links page.</li>
        <li>Added home page (work in progress).</li>
    </ul>
    <hr />
    <h4>January 4, 2015</h4>
    <ul>
        <li>A ship's company can now be changed through the Manage menu in the ship detail view. Changing the company will automatically update the ships and companies history.</li>
        <li>Added a company history tab to the ship detail view.</li>
        <li>Ships will no longer be removed when deleting a company.</li>
        <li>Callouts no longer disappear.</li>
    </ul>
    <hr/>
    <h4>january 1, 2015</h4>
    <ul>
        <li>Company history now shows when ships were sold and acquired by the company.</li>
    </ul>
    <hr/>
    <h4>December 31, 2014</h4>
    <ul>
        <li>Users with edit privileges can now add and delete companies (and their ships). <br/><span class="text-danger"> <strong><u>Caution: Deletes are irreversible (for now).</u></strong></span></li>
        <li>Callout elements (update/delete confirmation messages) now disappear after 2.5 seconds.</li>
        <li>Delete button in ship detail has been moved to the manage menu.</li>
        <li>Menu bar now collapses when viewed on devices with smaller screens.</li>
    </ul>
    <hr/>
    <h4>December 30, 2014</h4>
    <ul>
        <li>Company names can now be edited through the manage menu in the detail View.</li>
        <li>Added page titles to pages that were missing a title.</li>
        <li>Added a back to detail button on the add ship page.</li>
        <li>What's new page can now be viewed by people that are not authenticated.</li>
        <li>Fixed the incorrect placeholders in the Add ship form.</li>
        <li>Added since field in add and edit ship Views (date on which the company acquired the ship).</li>
    </ul>
    <hr/>
    <h4>December 29, 2014</h4>
    <ul>
        <li>Added what's new page.</li>
        <li>Users with edit privileges can now edit ship data.</li>
        <li>Users with edit privileges can now remove ships (and their crew)</li>
        <li>Moved add ship menu-item to Manage dropdown in company detail.</li>
    </ul>
</div>